.wave-top {
  height: 50px;
  --mask: radial-gradient(20px at 50% 29px, #000 99%, #0000 101%)
      calc(50% - 32px) 0/64px 100%,
    radial-gradient(20px at 50% -12px, #0000 99%, #0000 101%) 50% 16px/64px 100%
      repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
  -webkit-mask-position: 31.5px;
}

.wave-bottom {
  margin-top: -19.2px;
  height: 50px;
  --mask: radial-gradient(20px at 50% calc(100% - 28px), #000 99%, #0000 101%)
      calc(50% - 32px) 0/64px 100%,
    radial-gradient(20px at 50% calc(100% + 12px), #0000 99%, #00000000 101%)
      50% calc(100% - 16px) / 64px 100% repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
  -webkit-mask-position: -0.5px;
}
