<header class="relative flex justify-between items-center px-16 h-24">
  <img src="assets/full-logo-virtual.png" alt="logo-virtual" width="140" />
  <img src="assets/logo-tecsup.svg" alt="logo-tecsup" width="140"
    class="absolute top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2" />
  <div class="flex items-center gap-2 text-white text-sm">
    @if (isLogged) {
    <button class="flex items-center gap-2 rounded-4xl px-4 py-2.5 bg-skyblue-600 hover:bg-skyblue-500 font-medium">
      <i class="pi pi-desktop"></i>
      Dashboard
    </button>
    } @else {
    <button class="flex items-center gap-2 rounded-4xl px-4 py-2.5 bg-skyblue-600 hover:bg-skyblue-500 font-medium">
      <i class="pi pi-book"></i>
      Register
    </button>
    <button class="flex items-center gap-2 rounded-4xl px-4 py-2.5 bg-jade-600 hover:bg-jade-500 font-medium">
      <i class="pi pi-user"></i>
      Log In
    </button>
    }
  </div>
</header>

<router-outlet />

<footer class="flex justify-center items-center gap-4 h-24 bg-white text-sm">
  All rights reserved 2023
  <img src="assets/full-logo-virtual.png" width="140" />
</footer>
