/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins-Medium";
  src: url("./assets/fonts/Poppins-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Glegoo";
  src: url("./assets/fonts/Glegoo-Regular.ttf");
}

@font-face {
  font-family: "Glegoo-Bold";
  src: url("./assets/fonts/Glegoo-Bold.ttf");
}

@font-face {
  font-family: "NanumPem-Regular";
  src: url("./assets/fonts/NanumPenScript-Regular.ttf");
}

@font-face {
  font-family: "Gilroy-ExtraBold";
  src: url("./assets/fonts/Gilroy-ExtraBold.otf");
}

@font-face {
  font-family: "Monserrat-Medium";
  src: url("./assets/fonts/Montserrat-Medium.ttf");
}

body {
  font-family: "Poppins-Medium", sans-serif;
}
